body{
    background-color:#601e51 ;
}
.h1{
    text-align: center;
    font-family: RaveKing;
    font-size: 200%;
    color: green;
}

@font-face {
    font-family:RaveKing;
    src: url(fonts/RaveKing-04Mz.ttf );
}
#insta{
    height: 5vh;
    width:5vh;
    position:fixed;
    left: 1%;
    bottom:2%;
    z-index: 1;
}
.bg{
    width: 100vw;
    position: fixed;
    top: 0%;
    left: 2%;
    z-index: -1;
}
.mousikh{
    
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 100%;

}

