.h1{
    text-align: center;
    font-family: RaveKing;
    font-size: 200%;
    color: white;
}
@font-face {
    font-family:RaveKing;
    src: url(fonts/RaveKing-04Mz.ttf );
}
#insta{
    height: 5vh;
    width:5vh;
    position:fixed;
    left: 1%;
    bottom:2%;
    z-index: 1;
}
.bg{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    z-index: -1;
 
}
.mousikh{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 100%;
}

